/* start light mode styling */
:root {
  --text: rgb(0, 0, 0);
  --border: #515a7e;
  --accent: #315396;
  --bg: rgba(77, 159, 200, 0.57);
  --gradientBottom: #ffa600;
  --gradientTop: #ffe600;
  a:link {
    color: #284758;
  }
}
header {
  background: url("https://nogginzmart.neocities.org/catbox%20aint%20working/goofygoober/9a8f9596920eb4cde1d9f79695448ebf.jpg");
}
/* end light mode styling */

/* start dark mode styling */
@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(0, 0, 0);
    --border: #00aaff;
    --accent: #0055ff;
    --bg: rgba(0, 170, 255, 0.57);
    --gradientBottom: #ffa600;
    --gradientTop: #ffe600;
    a:link {
      color: #014d69;
    }
  }
  header {
    background: url("https://nogginzmart.neocities.org/catbox%20aint%20working/goofygoober/9a8f9596920eb4cde1d9f79695448ebf.jpg");
  }
}
/* end dark mode styling */

* {
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text);

  /* page background pattern */
  background-color: var(--gradientTop);
  background-image: url("https://nogginzmart.neocities.org/catbox%20aint%20working/goofygoober/cbbcf26b16c143ea6c0fcca726b7e66a.jpg");
  background-size: 100%;
  background-position:
    0 0,
    0 0,
    10px 18px,
    10px 18px,
    0 0,
    10px 18px;
  background-attachment: fixed;
}

.container {
  max-width: 1300px;
  margin: 5vw auto 12px auto;
  border: 6px ridge var(--border);
  outline: 3px solid var(--gradientTop);
  outline-offset: 4px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;

  /* container background pattern */
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(182, 230, 254, 0.57);
  border-radius: 12px;
  border: 1px solid rgba(8, 75, 176, 0.3);
}
/* these control the column widths */
.small {
  flex: 1 1 9%;
}
.large {
  flex: 1 1 82%;
}
.full {
  flex: 1 1 100%;
}
.half {
  flex: 1 1 75%;
}

header {
  filter: saturate(180%);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px; /* change banner height here*/
  border: 2px ridge var(--border);
  border-radius: 5px;
  position: relative;
}

nav {
  border: 2px ridge var(--border);
  border-radius: 5px;
  padding: 5px;
  width: 215px;
  background: linear-gradient(var(--gradientTop), var(--gradientBottom));
}
nav div {
  text-align: center;
  font-size: 1.25rem;
  margin: 5px 5px 10px 5px;
}
nav a {
  display: block;
  margin: 5px;
  background: linear-gradient(to right, var(--bg), var(--gradientBottom));
  border-radius: 5px;
  padding: 2px 7px;
  text-decoration: none;
}
nav a:link,
nav a:visited {
  color: var(--text);
}
nav a:hover,
nav a:focus {
  background: linear-gradient(
    to right,
    var(--bg),
    var(--gradientBottom),
    var(--gradientTop)
  );
}

/* optional button styling like in the preview */
div.small > img {
  display: block;
  margin: 5px auto;
  border: 2px ridge var(--border);
  border-radius: 5px;
}

.imageContainer {
  width: 100px;
  height: 300px;
  background-image: url(https://files.catbox.moe/k6urew.jpg);
}

section {
  border: 2px ridge var(--border);
  border-radius: 5px;
  background: linear-gradient(var(--gradientTop), var(--gradientBottom));
  padding: 5px;
  overflow: hidden;
}

footer {
  text-align: center;
  margin-bottom: 5vw;
  font-size: 0.9rem;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(146, 181, 199, 0.57);
  border: 1px solid rgba(3, 23, 54, 0.3);
  width: 550px; /* Set your desired fixed or percentage width */
  margin: 0 auto;
  border-radius: 25px;
}

ol {
  counter-reset: section;
  list-style-type: none;
}

ol li {
  display: flex;
  counter-increment: section;
  margin: 0.5rem 0;
  padding-left: 180px;
}

ol li::before {
  content: counter(section) ". ";
  margin-right: 1rem;
}

footer a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
  line-height: 1.2;
}
h1 {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
  border-bottom: 2px ridge var(--border);
  padding-bottom: 5px;
}
h2 {
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center;
}
h3 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1rem;
  color: var(--accent);
  padding-left: 12px;
}

/* prevents overflow on smaller screens */
img {
  max-width: 100%;
}
pre {
  overflow-x: auto;
}

a:visited {
  color: var(--accent);
}

.row {
  display: flex;
}
.box5 {
  background-color: #3b3533;
  border: 3px solid #000000;
  padding: 10px;
  width: 250px;
  height: 315px;
  float: none;
}

.box4 {
  background-color: #3b3533;
  border: 3px solid #000000;
  padding: 10px;
  width: 350px;
  height: 500px;
  float: right;
}
.box2 {
  background-color: #3b3533;
  border: 3px solid #000000;
  padding: 10px;
  width: 350px;
  height: 500px;
  float: left;
}

.box3 {
  background-color: #00c3ff;
  width: 100%;
  height: 1260px;
  overflow-y: scroll;
}

body {
  font-family: "Pixelify Sans", sans-serif;
}

.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 3;
  background-size:
    100% 2px,
    3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.10626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.10626;
  }
  30% {
    opacity: 0.18128;
  }
  35% {
    opacity: 0.23604;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.marquee-content {
  display: flex;
  animation: scroll 20s linear infinite;
}
.marquee-content img {
  width: 150px;
  margin: 0 10px;
  flex-shrink: 0;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#musicplayer {
  z-index: 2;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: bold;
  height: 40px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  margin-bottom: 20px;
  display: flex;
  background: linear-gradient(
    180deg,
    rgb(255, 174, 0) 0%,
    rgb(255, 230, 0) 45%,
    rgb(255, 221, 0) 47%,
    rgb(255, 196, 0) 60%,
    rgb(255, 174, 0) 100%
  );
  border: ridge 2px rgb(255, 225, 0); /* border around player */
  outline: solid 2px rgb(255, 196, 0);
  box-shadow:
    inset 13px 0px 6px -10px rgba(255, 200, 0, 0.2),
    inset -13px 0px 6px -10px rgba(255, 230, 0, 0.56),
    inset 0px 13px 6px -10px #ffd500,
    inset 0px -13px 6px -10px rgba(255, 221, 0, 0.38);
}

.songtitle {
  display: block;
  padding: 2px; /* padding around song title */
  font-family: "Pixelify Sans", sans-serif;
  margin-top: 4px;
  margin-right: 5px;
  font-size: 15px;
  color: black;
  letter-spacing: 1px;

  background: white; /* background of song title */
  border: gray inset 1px;
  border-radius: 6px;
  box-shadow:
    inset 13px 0px 6px -10px rgb(66 66 66 / 20%),
    inset -13px 0px 6px -10px rgb(66 66 66 / 56%),
    inset 0px 13px 6px -10px #ffffff,
    inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
}

.controls {
  font-size: 12px; /* size of controls */
  text-align: center;
  width: 100px;
  height: 20px;
  filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white)
    drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white)
    drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black)
    drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0.5px black)
    drop-shadow(0 0.5px black) drop-shadow(0.5px 0.5px 0 black)
    drop-shadow(0.5px 0.5px 0 black);
}

.controls td {
  padding-top: 5px; /* padding around controls */
}

.seeking {
  width: 75%;
  background: transparent; /* background color of seeking bar */
  display: flex;
  justify-content: space-evenly;
  padding: 7px; /* padding around seeking bar */
}

.current-time {
  padding-right: 5px;
  margin-right: 3px;
  color: black;
  filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white)
    drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white)
    drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black)
    drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0.5px black)
    drop-shadow(0 0.5px black) drop-shadow(0.5px 0.5px 0 black)
    drop-shadow(0.5px 0.5px 0 black);
}

.total-duration {
  padding-left: 5px;
  color: black;
  filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white)
    drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white)
    drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black)
    drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0.5px black)
    drop-shadow(0 0.5px black) drop-shadow(0.5px 0.5px 0 black)
    drop-shadow(0.5px 0.5px 0 black);
}
.ctrlimg {
  height: 20px;
  width: 20px;
}
.ctrlimg:hover {
  cursor: pointer;
}

input[type="range"] {
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px; /* thickness of seeking track */
  cursor: help;
  border-radius: 6px;
  background: black; /* color of seeking track */
  border: 1px white solid;
}

input[type="range"]::-webkit-slider-thumb {
  height: 30px; /* height of seeking square */
  width: 20px; /* width of seeking square */
  background-image: url("https://file.garden/Zztv0a9yEhr5pmEq/tumblr_40786d3985453eb5412348aad980ac51_3a9a1088_1280%20(1).gif"); /* image of  seeking square */
  background-size: 25px;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type="range"].volume_slider::-webkit-slider-runnable-track {
  background: white; /* color of volume seeking track */
  filter: drop-shadow(-0.5px 0.5px 0 black) drop-shadow(0 0.5px 0 black)
    drop-shadow(0 0.5px 0 black) drop-shadow(0 0.5px 0.5px black)
    drop-shadow(0 0.5px black) drop-shadow(0.5px 0.5px 0 black)
    drop-shadow(0.5px 0.5px 0 black); /* outline of volume seeking track */
}

input[type="range"].volume_slider::-webkit-slider-thumb {
  background-image: url(https://file.garden/Zztv0a9yEhr5pmEq/798d7d72_original.png); /* image of volume seeking square */
  background-size: 20px;
  height: 20px; /* height of volume seeking square */
  width: 20px;
  margin-top: -8px;
}

.slider_container {
  width: 15%; /* width of volume seeker */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sitebutton img {
  width: 176px;
  height: 62px;
  cursor: pointer;
  transition: transform 250ms;
}

.sitebutton img:hover {
  transform: scale(1.2);
}

.sitebutton2 img {
  width: 120px;
  height: 40px;
  transition: transform 250ms;
}

.sitebutton2 img:hover {
  transform: scale(1.2);
}

header img:hover {
  transform: scale(1.2);
}

header img {
  transition: transform 250ms;
  width: 500px;
  height: 200px;
  padding-left: 60px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: #00c3ff;
  color: #000000;
  padding: 5px 8px;
  border-radius: 10px;
  position: absolute;
  bottom: 125%; /* above the image */
  left: 50%;
  z-index: 50;
  font-size: 15px;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.sidebuttons img {
  width: 120px;
  height: 50px;
  transition: transform 250ms;
}

.othersidebuttons img {
  width: 150px;
  height: 50px;
  transition: transform 250ms;
}

.sidebuttons img:hover {
  transform: scale(1.2);
}

.othersidebuttons img:hover {
  transform: scale(1.2);
}

#pollForm {
  border-radius: 10px;
  background-color: #00c3ff;
  border: 3px solid #0e67ff;
  padding: 20px;
  width: 620px;
  position: relative;
}

#pollForm li {
  display: flex;
  list-style-image: none;
  margin: 0.2rem 0;
  padding-left: 30px;
  width: 700px;
}

#pollForm button {
  width: 200px;
}

aside {
  margin-top: 20px;
  width: 255px;
  height: fit-content;
  background-color: white;
  border: 2px outset white;
  border-radius: 5px;
  position: sticky;
  top: 2px;
}

#update {
  padding: 5px;
}

#widget-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.widgets img {
  user-select: none;
  pointer-events: none;
}

.widgets a {
  user-select: none;
  pointer-events: none;
}

#widget-options button {
  margin-top: 15px;
}

.webringlist {
  border-collapse: collapse;
  text-align: center;
}

#webringulist td {
  text-align: center;
  font-size: 14px;
  color: black;
  border: 4px solid #ffa600;
  background-color: #ffa600;
  padding: 10px;
}

#webringulist th {
  text-align: center;
  font-size: 17px;
  color: black;
  border: 4px solid #ffa600;
  background-color: #00c3ff;
  padding: 10px;
  position: sticky;
}

.sponge img{
  width: 200px;
  position: fixed;
  bottom: 5px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.sponge img:hover{
  transform: fade(1.2);
  opacity: 0;
}